## Ipython Notebook

Fernando Perez, el Colombiano que creo Ipython una de las interfaces Python mas importantes en el mundo en los ultimos 10 años.

https://en.wikipedia.org/wiki/Fernando_P%C3%A9rez_(software_developer)
https://pybonacci.es/2013/05/16/entrevista-a-fernando-perez-creador-de-ipython/
http://fperez.org/personal.html


## Ejemplo de lo que puedes lograr

http://nbviewer.jupyter.org/github/glue-viz/example_data_viewers/blob/master/mario/mario.ipynb

# Opreaciones Matematicas

## **Suma** : $2+3$

In [69]:
73+54

127

## **Multiplicación**: $2x3$

In [70]:
98*5

490

## **División**: $\frac{2}{3}$

In [71]:
193/3

64.33333333333333

## **Potencia**: $ 2^{3}$

In [72]:
4**7

16384

## Funciones Trigonometricas

En las siguientes celdas vamos a calcular los valores de funciones comunes en nuestras clases de matemáticas.
Para esto, necesitamos importar la libreria numpy.

In [73]:
# Importar una libreria en Python
import numpy as np # el comando "as nb" sirve para asignarle un codigo mas corto a la libreria y ser mas rapido.

In [74]:
np.sin(50)

-0.26237485370392877

In [75]:
(np.sin(46))*(np.sin(6))

-0.25197364042827819

## Logaritmo y Exponencial: $ln(3), e^{3}$

In [24]:
np.log(3)

1.0986122886681098

In [12]:
np.exp(3)

20.085536923187668

## Reto de Programación

- Encuentre la hipotenusa del triangulo con lados  a = 4 y b = 5, $h^2=(a^2 + b^2)$

- Resolver la ecuación 
$$x^2 - x - 12 = 0$$

$$ a=1, b=-1, c=-12$$

In [35]:
#np.sqrt(4**2+5**2)
a = 4
b = 5
h = np.sqrt(a ** 2 + b ** 2)
print(h)

6.40312423743

In [63]:
nombre_1 = 'Josie'
nombre_2 = 'Laura'
nombre_3 = 'Alejandro'
a = "clubes "
b = "de "
c = "ciencias "
d = "dos mil diecisiete"

In [65]:
print (nombre_1)
print (nombre_2)
print (nombre_3)
print (a)
print (b)
print (c)
print (a + b + c)
print (a+ b + c + d)

Josie
Laura
Alejandro
clubes
de
ciencias
clubes de ciencias
clubes de ciencias  dos mil diecisiete

# Variables

### Una variable es un espacio para guardar valores modificables o constantes.

----
```python
nombre_de_la_variable = valor_de_la_variable
```
---

**Los distintos tipos de variables son:**

**Enteros (**`int`**): 1, 2, 3, -10, -103**

** Números continuos (**`float`**): 0.666, -10.678**

** Cadena de texto (**`str`**): 'clubes', 'clubes de ciencia', 'Roberto'**

**Booleano (verdadero / Falso): `True`, `False` **

In [67]:
# Ejemplo
a = 'Aleajndro' + '  ' + 'Mahecha'
print (a) # Imprimir mi variable

Aleajndro  Mahecha

## Variable tipo `int`

In [93]:
b = -15 
print (b)
print (type(b))

-15
<class 'int'>

## Variable tipo `float`

In [94]:
c = 3.1416
print (c)
print (type(c))

3.1416
<class 'float'>

## Variable tipo `str`

In [96]:
d = 'clubes de ciencia'
print (d)
print (type(d))

clubes de ciencia
<class 'str'>

## Variable tipo `bool`

In [97]:
e = True # = verdadero
f = False # = Falso
print (f)
print (type(f))

False
<class 'bool'>

## Como averiguo el tipo de una variable ??

Utilizando la función `type`:

```python
type(nombre_de_la_variable)
```

In [36]:
print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Reto de Programación

# Variables para guardar colecciones de datos

>** Python tiene otro 3 tipos de variables mas complejas que pueden almacenar colecciones de datos
>como los visotos anteriormente**

- Listas
- Tuplas
- Diccionarios

## Listas

Las listas permiten guardar colecciones de datos con diferentes tipos:
```python
int; str; float; bool
```
Una lista se crea de la siguiente forma:

```python
nombre_de_la_lista = [valor_1, valor_2, valor_3]
```
Los valores de la lista pueden ser modificados.

In [118]:
# Ejemplo
mi_lista = [1,2,3,5,6,-3.1416]
print (mi_lista[0])
print (mi_lista[1])
print (mi_lista[2])
print (mi_lista[3])
print (mi_lista[4])
print (mi_lista[5])
mi_lista_diversa = [1,2,'clubes', 'de', 'ciencia', 3.1416, False]
mi_lista_diversa[6] = 123
mi_lista_

print (mi_lista)
print (mi_lista_diversa)

1
2
3
5
6
-3.1416
[1, 2, 3, 5, 6, -3.1416]
[1, 2, 'clubes', 'de', 'ciencia', 3.1416, 123]

In [109]:
nombre_edad = ['Laura', 18, 'Josie', 23, 'Alejandro', 30]

print (nombre_edad)

['Laura', 18, 'Josie', 23, 'Alejandro', 30]

In [110]:
numero_1 = '17'
palabra = 'clubes de ciencia'
numero_2 = '4'
#print (numero_1 + palabra) # primer caso
print (numero_1 + numero_2) # segundo caso

174


### Como puedo mirar un elemento o elementos de mi lista??
Para leer el elemento de la posición `n`, se usa:

```python
mi_lista[n]
```

In [85]:
import numpy as np

In [86]:
# Ejemplo
mi_lista = [1,2,3,4,5,'alejandro']

#print (mi_lista[0]) # Leer el primer elemento que se encuentra en la posición n=0
#print (mi_lista_diversa[0])
#print (type(mi_lista[5])) # Leer el tipo de variable en la posición n=5

print ('la longitud de mi lista es ' + str(len(mi_lista)) )

la longitud de mi lista es 6

** Como leer los elementos entre la posición n y m??**
```python
mi_lista[n:m+1]
```

In [117]:
#Ejemplo
print (mi_lista[2:6]) # Leer entre n=0 y m=2

[3, 5, 6, -3.1416]

## Reto de Programación

## Tuplas

Las tuplas permiten guardar colecciones de datos de diferentes tipos:
```python
int; str; float; bool
```
Una tupla se crea de la siguiente forma:

```python
mi_tupla = ('cadena de texto', 15, 2.8, 'otro dato', 25)
```
Los valores de una tupla no pueden ser modificados. Sus elementos se leen como en las listas

In [88]:
#Ejemplo
mi_lista = ('cadena de texto', 15, 2.8, 'otro dato', 25)
print (mi_lista)
print (mi_lista[2]) # leer el tercer elemento de la tupla
print (mi_lista[2:4]) # leer los dos ultimos elementos de la tupla

('cadena de texto', 15, 2.8, 'otro dato', 25)
2.8
(2.8, 'otro dato')

## Reto de Programación

## Diccionarios

Mientras que en las listas y tuplas se accede a los elementos por un número de indice, en los diccionarios se utilizan claves(numericas ó de texto) para acceder a los elementos. Los elementos guardados en cada clave son de diferentes tipos, incluso listas u otros diccionarios.

```python
int; str; float; bool, list, dict
```
Una diccionario se crea de la siguiente forma:

```python
mi_diccionario = {'grupo_1':4, 'grupo_2':6, 'grupo_3':7, 'grupo_4':3}
```
Acceder al valor de la clave `grupo_2`:
```python
print (mi_diccionario['grupo_2'])
```

In [123]:
# Ejemplo 1
mi_diccionario = {'tatiana:football, 'sharon':volleyball, 'lizeth':swimming, 'carol':basketball}
print (mi_diccionario[tatiana])

NameError: name 'football' is not defined

In [119]:
# Ejemplo 2 con diferentes tipos de elementos
informacion_persona = {'nombres':'Elon', 'apellidos':'Musk', 'edad':45, 'nacionalidad':'Sudafricano',
                      'educacion':['Administracion de empresas','Física'],'empresas':['Zip2','PyPal','SpaceX','SolarCity']}

print (informacion_persona['educacion'])

print (informacion_persona['empresas'])

['Administracion de empresas', 'Física']
['Zip2', 'PyPal', 'SpaceX', 'SolarCity']

## Reto de Programación

# Estructuras de control condicionales

Las estructuras de control condicionales nos permiten evaluar si una o mas condiciones se cumplen, y respecto a esto
ejecutar la siguiente accion.

Primero usamos:
```python
if
```
Despues algun operador relacional para comparar
```python
== igual que
!= diferente de 
<  menor que
>  mayor que
<= menor igual que
>= mayor igual que
```
Cuando se evalua mas de una conición:

```python
and, & (y)

or, | (ó)
```

In [91]:
# Ejemplo
color_semaforo = 'amarillo'
if color_semaforo == 'verde':
    print ("Cruzar la calle")
else:
    print ("Esperar")

Esperar

In [92]:
# ejemplo
dia_semana = 'lunes'

if dia_semana == 'sabado' or dia_semana == 'domingo':
    print ('Me levanto a las 10 de la mañana')
else:
    print ('Me levanto antes de las 7am')

Me levanto antes de las 7am

In [ ]:
# Ejemplo
costo_compra = 90
if costo_compra <= 100:
    print ("Pago en efectivo")
elif costo_compra > 100 and costo_compra < 300:
    print ("Pago con tarjeta de débito")
else:
    print ("Pago con tarjeta de crédito")

## Reto de Programación

# Estructuras de control iterativas(cíclicas o bucles)

Estas estructuras nos permiten ejecutar un mismo codigo, de manera repetida, mientras se cumpla una condición.

## Bucle While

Este bucle ejecuta una misma acción mientras determinada condición se cumpla:

```python
anio = 2001
while anio <= 2012:
    print ("Informes del Año", str(anio))
    anio = anio + 1 # aumentamos anio en 1
```
En este ejemplo la condición es menor que 2012

In [10]:
# ejemplo
anio = 2001
while anio <= 2012:
    print ("Informes del Año", str(anio))
    anio = anio + 1 # aumentamos anio en 1

Informes del Año 2001
Informes del Año 2002
Informes del Año 2003
Informes del Año 2004
Informes del Año 2005
Informes del Año 2006
Informes del Año 2007
Informes del Año 2008
Informes del Año 2009
Informes del Año 2010
Informes del Año 2011
Informes del Año 2012

In [11]:
# ejemplo
cuenta = 10
while cuenta >= 0:
    print ('faltan '+str(cuenta)+' minutos')
    cuenta += -1

faltan 10 minutos
faltan 9 minutos
faltan 8 minutos
faltan 7 minutos
faltan 6 minutos
faltan 5 minutos
faltan 4 minutos
faltan 3 minutos
faltan 2 minutos
faltan 1 minutos
faltan 0 minutos

## Reto de Programación

## Bucle for
En Python el bucle for nos permite iterar sobre variables que guardan colecciones de datos, como : tuplas y listas.

```python
mi_lista = ['Juan', 'Antonio', 'Pedro', 'Herminio']
for nombre in mi_lista:
    print (nombre)
```

En el codigo vemos que la orden es ir por cada uno de los elementos de la lista para imprimirlos.

In [13]:
# Ejemplo
mi_tupla = ('rosa', 'verde', 'celeste', 'amarillo')
for color in mi_tupla:
    print (color)

rosa
verde
celeste
amarillo

In [14]:
# Ejemplo
dias_semana = ['lunes','martes','miercoles','jueves','viernes','sabado','domingo']

for i in dias_semana:
    if (i == dias_semana[-1]) or (i == dias_semana[-2]):
        print ('Hoy seguire aprendiendo de programación')
    else:
        print ('Hoy tengo que ir al colegio')

Hoy tengo que ir al colegio
Hoy tengo que ir al colegio
Hoy tengo que ir al colegio
Hoy tengo que ir al colegio
Hoy tengo que ir al colegio
Hoy seguire aprendiendo de programación
Hoy seguire aprendiendo de programación

## Reto de Programación