## Ipython Notebook

Fernando Perez, el Colombiano que creo Ipython una de las interfaces Python mas importantes en el mundo en los ultimos 10 años.

https://en.wikipedia.org/wiki/Fernando_P%C3%A9rez_(software_developer)
https://pybonacci.es/2013/05/16/entrevista-a-fernando-perez-creador-de-ipython/
http://fperez.org/personal.html


## Ejemplo de lo que puedes lograr

http://nbviewer.jupyter.org/github/glue-viz/example_data_viewers/blob/master/mario/mario.ipynb

# Opreaciones Matematicas

## **Suma** : $2+3$

In [1]:
2+18

20

## **Multiplicación**: $2x3$

In [2]:
9*3

27

## **División**: $
frac{2}{3}$

In [3]:
4/3

1.3333333333333333

## **Potencia**: $ 2^{3}$

In [4]:
4**8

65536

## Funciones Trigonometricas

En las siguientes celdas vamos a calcular los valores de funciones comunes en nuestras clases de matemáticas.
Para esto, necesitamos importar la libreria numpy.

In [10]:
# Importar una libreria en Python
import numpy as np # el comando "as nb" sirve para asignarle un codigo mas corto a la libreria y ser mas rapido.

In [11]:
np.sin(8)

0.98935824662338179

In [13]:
(np.sin(3))*(np.sin(2))

0.12832006020245673

## Logaritmo y Exponencial: $ln(3), e^{3}$

In [8]:
np.log(3)

1.0986122886681098

In [15]:
np.exp(3)

20.085536923187668

## Reto de Programación

- Resolver la ecuación 
$$x^2 - x - 12 = 0$$


- Encuentre la hipotenusa y los ángulos del triángulo rectangulo de lados  a = 4 y b = 5


 A=1,B=-1C=-12

In [16]:
nombre_1='alejandra'
nombre_2='juan david'
nombre_3='brahian varon'
nombre_4='jhoiner'

In [29]:
print (nombre_3)

brahian varon

# Variables

### Una variable es un espacio para guardar valores modificables o constantes.

----
```python
nombre_de_la_variable = valor_de_la_variable
```
---

**Los distintos tipos de variables son:**

**Enteros (**`int`**): 1, 2, 3, -10, -103**

** Números continuos (**`float`**): 0.666, -10.678**

** Cadena de texto (**`str`**): 'clubes', 'clubes de ciencia', 'Roberto'**

**Booleano (verdadero / Falso): `True`, `False` **

In [19]:
# Ejemplo
a = 'brahian ' +''+'david'
print (a) # Imprimir mi variable

brahian david

## Variable tipo `int`

In [22]:
b = -15
print (b)

-15

## Variable tipo `float`

In [23]:
c = 3.1416
print (c)

3.1416

## Variable tipo `str`

In [24]:
d = 'clubes de ciencia'
print (d)

clubes de ciencia

## Variable tipo `bool`

In [26]:
e = True # = verdadero
f = False # = falso
print (f)

False

## Como averiguo el tipo de una variable ??

Utilizando la función `type`:

```python
type(nombre_de_la_variable)
```

In [26]:
print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Reto de Programación

# Variables para guardar colecciones de datos

>** Python tiene otro 3 tipos de variables mas complejas que pueden almacenar colecciones de datos
>como los visotos anteriormente**

- Listas
- Tuplas
- Diccionarios

## Listas

Las listas permiten guardar colecciones de datos con diferentes tipos:
```python
int; str; float; bool
```
Una lista se crea de la siguiente forma:

```python
nombre_de_la_lista = [valor_1, valor_2, valor_3]
```
Los valores de la lista pueden ser modificados.

In [49]:
# Ejemplo
mi_lista = [1,2,3,5,6,-3.1416]

mi_lista_diversa = [1,2,'clubes', 'de', 'ciencia', 3.1416, False]

print (mi_lista)
print (mi_lista_diversa)

[1, 2, 3, 5, 6, -3.1416]
[1, 2, 'clubes', 'de', 'ciencia', 3.1416, False]

In [35]:
nombre_edad = ['brahian' ,14,'david',14,]

print (nombre_edad)

['brahian', 14, 'david', 14]

In [34]:
numero_1 = '17'
palabra = 'clubes de ciencia'
numero_2 = '4'
print (numero_1+palabra) # primewr caso
print (numero_1+numero_2) # segundo caso

17clubes de ciencia
174

### Como puedo mirar un elemento o elementos de mi lista??
Para leer el elemento de la posición `n`, se usa:

```python
mi_lista[n]
```

In [43]:
import numpy as np

In [58]:
# Ejemplo
mi_lista = [1,2,3,4,5,'brahian']
#print (mi_lista[0]) # Leer el primer elemento que se encuentra en la posición n=0
#print (mi_lista_diversa[0])
#print (type(mi_lista[5])) # Leer el tipo de variable en la posición n=5

print ('la longitud de mi lista es ' + str(len(mi_lista)))

la longitud de mi lista es 6

** Como leer los elementos entre la posición n y m??**
```python
mi_lista[n:m+1]
```

In [60]:
#Ejemplo
print (mi_lista[0:3]) # Leer entre n=0 y m=2
print (mi_lista)

[1, 2, 3]
[1, 2, 3, 4, 5, 'brahian']

## Reto de Programación

## Tuplas

Las tuplas permiten guardar colecciones de datos de diferentes tipos:
```python
int; str; float; bool
```
Una tupla se crea de la siguiente forma:

```python
mi_tupla = ('cadena de texto', 15, 2.8, 'otro dato', 25)
```
Los valores de una tupla no pueden ser modificados. Sus elementos se leen como en las listas

In [65]:
#Ejemplo
mi_tupla = (1, 15, 2.8, 'otro dato', 25)
print (mi_tupla)
print (mi_tupla[2]) # leer el tercer elemento de la tupla
print (mi_tupla[2:4]) # leer los dos ultimos elementos de la tupla

(1, 15, 2.8, 'otro dato', 25)
2.8
(2.8, 'otro dato')

In [66]:
print (mi_tupla)

(1, 15, 2.8, 'otro dato', 25)

## Reto de Programación

In [62]:
mi_lista[0] = 2
mi_lista[-1] = 'david'
print (mi_lista)

[2, 2, 3, 4, 5, 'david']

## Diccionarios

Mientras que en las listas y tuplas se accede a los elementos por un número de indice, en los diccionarios se utilizan claves(numericas ó de texto) para acceder a los elementos. Los elementos guardados en cada clave son de diferentes tipos, incluso listas u otros diccionarios.

```python
int; str; float; bool, list, dict
```
Una diccionario se crea de la siguiente forma:

```python
mi_diccionario = {'grupo_1':4, 'grupo_2':6, 'grupo_3':7, 'grupo_4':3}
```
Acceder al valor de la clave `grupo_2`:
```python
print (mi_diccionario['grupo_2'])
```

In [4]:
# Ejemplo 1
mi_diccionario = {'grupo_1':mi_lista, 'grupo_2':mi_tupla, 'grupo_3':hola, 'grupo_4':como}
print (mi_diccionario['grupo_1'])
print (mi_diccionario['grupo_2'])
print (mi_diccionario['grupo_3'])
print (mi_diccionario['grupo_4'])

NameError: name 'mi_lista' is not defined

In [74]:
# Ejemplo 2 con diferentes tipos de elementos
informacion_persona = {'nombres':'Elon', 'apellidos':'Musk', 'edad':45, 'nacionalidad':'Sudafricano',
                      'educacion':['Administracion de empresas','Física'],'empresas':['Zip2','PyPal','SpaceX','SolarCity']}

print (informacion_persona['educacion'])

print (informacion_persona['empresas'])

['Administracion de empresas', 'Física']
['Zip2', 'PyPal', 'SpaceX', 'SolarCity']

In [77]:
informacion_persona = {'nombres':'brahian', 'apellidos':'varon', 'edad':14, 'nacionalidad':'colombia',
                      'educacion':['Administracion de empresas','lenguas'],'empresas':['electronica','procesiwork','carnes f','solitario']}

print (informacion_persona['educacion'])
print (informacion_persona['edad'])

['Administracion de empresas', 'lenguas']
14

## Reto de Programación

In [79]:
informacion_persona['nombres'] = 'brahian alexander'
informacion_persona['apellidos'] = 'varon valencia'
informacion_persona['edad'] = 14
print (informacion_persona)

{'nombres': 'brahian alexander', 'apellidos': 'varon valencia', 'edad': 14, 'nacionalidad': 'colombia', 'educacion': ['Administracion de empresas', 'lenguas'], 'empresas': ['electronica', 'procesiwork', 'carnes f', 'solitario']}

# Estructuras de control condicionales

Las estructuras de control condicionales nos permiten evaluar si una o mas condiciones se cumplen, y respecto a esto
ejecutar la siguiente accion.

Primero usamos:
```python
if
```
Despues algun operador relacional para comparar
```python
== igual que
!= diferente de 
<  menor que
>  mayor que
<= menor igual que
>= mayor igual que
```
Cuando se evalua mas de una conición:

```python
and, & (y)

or, | (ó)
```

In [84]:
# Ejemplo
color_semaforo = 'verde'
if color_semaforo == 'verde':
    print ("Cruzar la calle")
else:
    print ("Esperar")

Cruzar la calle

In [88]:
color_semaforo == 'verde'

True

In [91]:
# ejemplo
dia_semana = 'domino'

if dia_semana == 'sabado' or dia_semana == 'domingo':
    print ('Me levanto a las 10 de la mañana')
else:
    print ('Me levanto antes de las 7am')

Me levanto a las 10 de la mañana

In [ ]:
# Ejemplo
costo_compra = 90
if costo_compra <= 100:
    print ("Pago en efectivo")
elif costo_compra > 100 and costo_compra < 300:
    print ("Pago con tarjeta de débito")
else:
    print ("Pago con tarjeta de crédito")

## Reto de Programación

# Estructuras de control iterativas(cíclicas o bucles)

Estas estructuras nos permiten ejecutar un mismo codigo, de manera repetida, mientras se cumpla una condición.

## Bucle While

Este bucle ejecuta una misma acción mientras determinada condición se cumpla:

```python
anio = 2001
while anio <= 2012:
    print ("Informes del Año", str(anio))
    anio = anio + 1 # aumentamos anio en 1
```
En este ejemplo la condición es menor que 2012

# ejemplo
anio = 2001
while anio <= 2012:
    print ("Informes del Año", str(anio))
    anio = anio + 1 # aumentamos anio en 1

In [ ]:
# ejemplo
cuenta = 10
while cuenta >= 0:
    print ('faltan '+str(cuenta)+' minutos')
    cuenta += -1

## Reto de Programación

## Bucle for
En Python el bucle for nos permite iterar sobre variables que guardan colecciones de datos, como : tuplas y listas.

```python
mi_lista = ['Juan', 'Antonio', 'Pedro', 'Herminio']
for nombre in mi_lista:
    print (nombre)
```

En el codigo vemos que la orden es ir por cada uno de los elementos de la lista para imprimirlos.

In [ ]:
# Ejemplo
mi_tupla = ('rosa', 'verde', 'celeste', 'amarillo')
for color in mi_tupla:
    print (color)

In [ ]:
# Ejemplo
dias_semana = ['lunes','martes','miercoles','jueves','viernes','sabado','domingo']

for i in dias_semana:
    if (i == dias_semana[-1]) or (i == dias_semana[-2]):
        print ('Hoy seguire aprendiendo de programación')
    else:
        print ('Hoy tengo que ir al colegio')

## Reto de Programación